
<div class="container">
  <div class="row mb-3">
    <div class="col-12">
      <form class="w-100">
        <mat-form-field class="w-100 bg-transparent text-dark" appearance="fill">
          <mat-label>Filtro</mat-label>
          <input class="w-100" type="text" matInput [(ngModel)]="filtro" name="filtro" placeholder="Ex. Ana">
        </mat-form-field>
      </form>
    </div>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let title of displayedColumns">
          {{title}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="tbRow" (click)="rowSelcted(item)" *ngFor="let item of personajes | filter: filtro">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ item.homeworld }}</td>
        <td>{{ item.species }}</td>
      </tr>
    </tbody>
  </table>
</div>

