::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent !important;
}

.rowTable, .tbRow {
    text-transform: capitalize
}

tHead tr {
    border-style: none;
    border-radius: 20px;
    box-shadow: 0 0 15px 15px #C7FFA8;
}

tBody tr:hover { 
    cursor: pointer;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0 0 15px 15px #FF76FF;
}