.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.iconClose{
  color: red;
}
  .imgCard {
    max-width: 300px;
  }

  .maestro {
    text-transform: capitalize;
  }